In [7]:
# -*- coding: utf-8 -*-

import pandas as pd
file_path = 'C:/Users/richk/Desktop/python/python-data-analysis/data/chipotle.tsv'
chipo = pd.read_csv(file_path, sep = '\t')

In [8]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [9]:

print(chipo.shape)
print("--------------------------")
print(chipo.info())

(4622, 5)
--------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

In [11]:
print(chipo.columns)
print("----------------------------------------------------")
print(chipo.index)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')
----------------------------------------------------
RangeIndex(start=0, stop=4622, step=1)

In [12]:
chipo['order_id']=chipo['order_id'].astype(str) #ORDER_ID는 숫자가 의미를 갖지 않기 때문에 str으로 변환...
print(chipo.describe())

          quantity
count  4622.000000
mean      1.075725
std       0.410186
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max      15.000000

In [13]:
print(len(chipo['order_id'].unique()))
print(len(chipo['item_name'].unique()))

1834
50

In [17]:
# len(chipo['item_name'].value_counts())
chipo['item_name'].value_counts()[:10]

Chicken Bowl                    726
Chicken Burrito                 553
Chips and Guacamole             479
Steak Burrito                   368
Canned Soft Drink               301
Steak Bowl                      211
Chips                           211
Bottled Water                   162
Chicken Soft Tacos              115
Chips and Fresh Tomato Salsa    110
Name: item_name, dtype: int64

![](FeatureVariety.jpg)